html, body {
  font-size: medium;
  font-weight: normal;
  font-family: sans;
  line-height: 1.45;
  color: #222222;
}

main {
  padding: 1rem;
  max-width: 60rem;
  margin: auto;
}

h1 {
  font-size: xx-large;
  text-align: center;
  i {
    font-weight: lighter;
    font-size: large;
  }
}

h2 {
  font-size: larger;
  text-align: center;
  font-weight: normal;
  font-family: serif;
  i {
    font-family: monospace;
  }
}

p {
  margin: 0.5rem 0;
  padding-left: 0.5rem;
}

a {
  color: slategray;

  &:link {
    color: slategray;
  }

  &:visited {
    color: black;
  }

  &:hover, &:active {
    color: lightgray;
  }
}

.tag {
  display: inline-block;
  font-style: normal;
  margin: 0.1rem;
  font-size: x-small;
  padding: 0.1rem 0.5rem;
  background-color: slategray;
  color: white;
  border-radius: 1em;
  &:before {
    content: '#';
  }
}

.tablets {
  label {
    &:hover {
      cursor: default;
    }
    user-select: none;
    word-break: keep-all;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    font-size: small;
    font-weight: normal;
    border-radius: 0.5rem;
    color: white;
    background-color: slategray;
    margin-bottom: 0.25rem;
  }
}
