html, body {
  padding: 0;
  margin: 0;
  color: #222222;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Roboto Slab', sans-serif;
}

body {
  padding: 1rem;
  max-width: 1280px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-sizing: border-box;
  max-width: 1280px;
  /*position: fixed;*/
  /*top: 0;*/
  /*left: 0;*/
  /*right: 0;*/
}

header h2 {
  background-color: white;
  color: black;
  margin: 0;
  padding: 0 1rem 0 2rem;
  font-size: 2rem;
  font-weight: lighter;
  text-align: right;
  line-height: 2.5rem;
  display: inline-block;
}

a {
  color: darkred;
  transition: color 0.15s linear;
}

a:active,
a:focus {
  color: red;
}

a:hover {
  color: cyan;
}

a:visited {
  color: burlywood;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 0.5rem 1rem;
  font-size: 1.5rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  border-bottom: 0.25rem white solid;
}

nav ul li a:active,
nav ul li a:focus,
nav ul li a:visited {
  color: white;
}

nav ul li a:hover {
  color: white;
  border-bottom: 0.5rem white double;
}

hr.rotated {
  border: 0;
  color: #222;
  display: block;
  height: 26px;
  height: 1.625rem;
  margin-right: auto;
  margin-left: auto;
  background-size: 100% 26px;
  background-size: 100% 1.625rem;
  background-image: linear-gradient(to bottom,transparent 1px,transparent 11px,#222 11px,#222 15px,transparent 15px,transparent 26px);
  width: 50vw;
  transform: rotate3d(0, 0, 1, -17deg);
}

hr {
  border: 0;
  color: #222;
  display: block;
  height: 26px;
  height: 1.625rem;
  margin-right: auto;
  margin-left: auto;
  background-size: 100% 26px;
  background-size: 100% 1.625rem;
  background-image: linear-gradient(to bottom,transparent 1px,transparent 11px,#222 11px,#222 15px,transparent 15px,transparent 26px);
  width: 20vw;
}

blockquote {
  font-family: 'Playfair Display', serif;
  display: block;
  text-align: center;
  margin: auto;
  background-color: white;
}

main, footer {
  font-size: 1.25rem;
  padding-left: 1rem;
}

main p {
  font-weight: lighter;
}

section.impression {
  background-color: white;
  /* use img with object-fit and object-position for responsive image loading */
  background-size: cover;
  background-position: 28% center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.impression h2 {
  text-align: center;
  mix-blend-mode: overlay;
  background-color: black;
  color: white;
  font-size: 10vh;
  line-height: 1.5;
}

.with-big-header {
  position: relative;
  padding-top: 7rem;
}

.with-big-header h3.big-header {
  font-family: 'Playfair Display', serif;
  position: absolute;
  transform: rotate3d(0, 0, 1, -17deg);
  top: 0;
  z-index: -1;
  font-size: 8rem;
  line-height: 8rem;
  margin: 0.5rem 0;
  color: #ccc;
  font-weight: lighter;
}

.with-big-header h3.big-header:before {
  width: 50%;
  height: 0.25rem;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background: #aaa;
  content: " ";
}

.with-big-header h3.big-header:after {
  width: 50%;
  height: 0.25rem;
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  background: #ddd;
  content: " ";
}

section.social {
  text-align: center;
  margin-top: 1rem;
}

section.social a {
  display: inline-block;
  margin: 0 0.5rem;
}

section.social img {
  width: 2rem;
  height: 2rem;
}

section.compass .compass-clip-text {
  background-color: #222;
  color: white;
  text-align: center;
  clip-path: polygon(5% 0, 95% 10%, 90% 98%, 11% 98%);
}

section.compass .compass-clip-text h5 {
  margin: auto;
  font-size: 2rem;
  font-weight: lighter;
  width: 80%;
}

section.compass .compass-clip-text h4 {
  font-size: 8rem;
  font-family: 'Playfair Display', serif;
  margin: auto;
  width: 90%;
}

section.compass .compass-clip-text img {
  clip-path: polygon(32% 1%, 84% 20%, 100% 53%, 100% 100%,  0 100%, 0 46%, 18% 9%);
  width: 100%;
}

footer {
  padding: 2rem 0;
  text-align: center;
}

@media only screen and (min-width: 1280px) {
  section.impression {
    background-image: url(/assets/background-full.jpg);
  }
}

@media only screen and (min-width: 960px) and (max-width: 1280px) {
  section.impression {
    background-image: url(/assets/background-1280w.jpg);
  }
}

@media only screen and (max-width: 960px) {
  section.impression {
    background-image: url(/assets/background-960w.jpg);
  }
}

@media only screen and (max-width: 480px) {
  header nav ul {
    padding-left: 1rem;
  }

  header h2 {
    padding: 0 0.5rem 0 1rem;
  }
}

@media only screen and (max-width: 960px) {
  section.compass .compass-clip-text h5 {
    font-size: 1.5rem;
  }

  section.compass .compass-clip-text h4 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 480px) {
  section.compass .compass-clip-text h5 {
    font-size: 1rem;
  }

  section.compass .compass-clip-text h4 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 320px) {
  header {
    padding: 1rem;
  }

  section.compass .compass-clip-text h5 {
    font-size: 1rem;
  }

  section.compass .compass-clip-text h4 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 720px) {
  header nav {
    display: none;
  }

  .with-big-header {
    padding-top: 5rem;
  }

  .with-big-header h3.big-header {
    font-size: 5rem;
    line-height: 5rem;
  }
}
