html, body {
  padding: 0;
  margin: 0;
  color: #222222;
  font-size: 16px;
  line-height: 1.5rem;
  font-family: 'Roboto Slab', sans-serif;
}

body {
  padding: 1rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header h2 {
  background-color: white;
  color: black;
  margin: 0;
  padding: 0 1rem 0 2rem;
  font-size: 2rem;
  font-weight: lighter;
  text-align: right;
  line-height: 2.5rem;
  display: inline-block;
}

a {
  color: darkred;
  transition: color 0.15s linear;
}

a:active,
a:focus {
  color: red;
}

a:hover {
  color: cyan;
}

a:visited {
  color: burlywood;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 0.5rem 1rem;
  font-size: 1.5rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  border-bottom: 0.25rem white solid;
}

nav ul li a:active,
nav ul li a:focus,
nav ul li a:visited {
  color: white;
}

nav ul li a:hover {
  color: white;
  border-bottom: 0.5rem white double;
}

hr.rotated {
  border: 0;
  color: #222;
  display: block;
  height: 26px;
  height: 1.625rem;
  margin-right: auto;
  margin-left: auto;
  background-size: 100% 26px;
  background-size: 100% 1.625rem;
  background-image: linear-gradient(to bottom,transparent 1px,transparent 11px,#222 11px,#222 15px,transparent 15px,transparent 26px);
  width: 50vw;
  transform: rotate3d(0, 0, 1, -17deg);
}

hr {
  border: 0;
  color: #222;
  display: block;
  height: 26px;
  height: 1.625rem;
  margin-right: auto;
  margin-left: auto;
  background-size: 100% 26px;
  background-size: 100% 1.625rem;
  background-image: linear-gradient(to bottom,transparent 1px,transparent 11px,#222 11px,#222 15px,transparent 15px,transparent 26px);
  width: 20vw;
}

main, footer {
  font-size: 1.5rem;
  padding-left: 1rem;
}

section.me p {
  font-weight: lighter;
}

section.impression {
  background-color: white;
  background-image: url(/assets/background.jpg);
  background-size: cover;
  background-position: 25% center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.impression h2 {
  text-align: center;
  mix-blend-mode: overlay;
  background-color: black;
  color: white;
  font-size: 10vh;
  line-height: 1.5;
}

.with-big-header {
  position: relative;
  padding-top: 7rem
}

h3 {
  position: absolute;
  transform: rotate3d(0, 0, 1, -17deg);
  top: 0;
  z-index: -1;
  font-size: 8rem;
  line-height: 8rem;
  margin: 0.5rem 0;
  color: #eee;
  font-weight: lighter;
}

footer {
  font-size: 1.25rem;
  padding: 2rem 0;
  text-align: center;
}
